<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>
        .alert.alert-success {
            width: 100%; /* Задаємо блоку ширину 100% */
            word-wrap: break-word; /* Додаємо автоматичний перенос слова */
        }
        .table td:nth-child(2) {
            max-width: 100px; /* Максимальна ширина колонки "Результат" */
            overflow: auto; /* Включення скроллу для завеликих даних */
            white-space: pre-line; /* Перенесення рядка для завеликих даних */
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Registration and Login System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form th:action="@{/calculate}" method="post">
                <div class="mb-3">
                    <label for="number" class="form-label">Введіть число:</label>
                    <input type="number" class="form-control" id="number" name="number" required min="1" max="200000">
                </div>
                <button type="submit" class="btn btn-primary">Порахувати</button>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div th:if="${result != null}" class="alert alert-success">
                <p th:text="'Факторіал числа ' + ${number} + ' дорівнює '"></p>
                <textarea rows="5" cols="50" readonly th:text="${result}"></textarea>
            </div>

        </div>
    </div>
    <table class="table table-bordered table-hover">
        <colgroup>
            <col style="width: 100px;"> <!-- Фіксована ширина для колонки "Результат" -->
            <!-- Додайте інші col-елементи для інших колонок за потреби -->
        </colgroup>
        <form th:action="@{/refreshHistory}" method="post">
            <button type="submit" class="btn btn-primary">Оновити</button>
        </form>
        <br>
        <form th:action="@{/cancelCalculate}" method="post">
            <button type="submit" class="btn btn-danger">Х</button>
        </form>
    <thead class="table-dark">
        <tr>
            <th>Число</th>
            <th>Результат</th>
            <th>Час</th>
            <th>Порт</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="operation : ${operations}">
            <td th:text="${operation.number}"></td>
            <td th:text="${operation.result}"></td>
            <td th:text="${operation.time}"></td>
            <td th:text="${operation.port}"></td>

<!--            <td th:text="${#dates.format(operation.time, 'dd.MM.yyyy HH:mm:ss')}"></td> &lt;!&ndash; Відображаємо час у зручному форматі &ndash;&gt;-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>